/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Just+Another+Hand&display=swap');
html{
    font-size: 62.5%; 
/* 16px * 62,5 10.00rem */
}
body{
    /*
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;*/
    
  font: 1.6rem sans-serif;
  line-height: 1.6;
  height: 100vh;


  margin: 0;
}
*{
    box-sizing: border-box; /* 100px largeur + 10px padding + 1px border */
}
@font-face {
    font-family: Apple;
    src: url(../FontsFree-Net-SFProText-Regular.ttf);
}
ul, 
ol, 
p,
button,
figure, 
blockquote, h1, h2, h3, address{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.material-icons{
    vertical-align: .5rem;
    font-size: 3rem;
}
header>nav>ul>.desk_li{
    display: block;
}

@keyframes scaleUp {
    from{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    }
    to{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.4);
    }
}

header>nav{
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    align-items: center;    
    z-index: 3;

    height:4.4rem;
    background-color:#1D1D1F;
    
}
header>nav>ul{
    font-size: 1.2rem;
    padding-top: 1rem;
    max-width: 80rem;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
.menu_toggle{
    display: none;
}
header>nav>ul>.icone{
    display: none;
}

header>nav>ul>.desk_li>a{
    color: #f5f5f7;
}
header>nav>ul>.desk_li{
    text-align: center;
}


main>section>h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: -.005rem;
    font-size: 5.6rem;
    margin-top: 15rem;
    font-family: Apple;
}
main>section>h2{
    text-align: center;
    font-weight: 200;
    letter-spacing: -.005rem;
    font-size: 3.6rem;
     font-family: Apple;
}
main>section>img{
    display: block;
    max-width: 80rem;
    margin: 2rem auto;
}

main>section{
    display: block;
    position: relative;
}
.inside_pc{
    align-items: center;
    width: 95%;
    margin: 3rem auto 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.inside_pc>p{
        padding: 1rem;
        text-align: center;
}
.inside_pc>div{
    height: 50rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-gap: 2rem;
    align-items: center;
    overflow-x: scroll;
}

.overflow_scroll>div{
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 32rem;
    height: 45rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: .9rem;

}
.overflow_scroll>div>h3{
    font-family: Apple;
    text-transform:capitalize;
    padding: 2rem;
    color:white;
    font-size: 2.6rem;
}
.overflow_scroll>div:nth-child(2)>h3{
    font-family: Apple;
    padding: 2rem;
    color:white;
    white-space: nowrap;
    font-size: 2.2rem;}
.overflow_scroll>div:first-child{
 margin-left: 2rem;  
 background-color: #FA9B3C;
}
.overflow_scroll>div:nth-child(3){
    background-color: #787BC5;
   }
   .overflow_scroll>div:nth-child(4){
    background-color: #ec1515;
   }

  header>nav>ul>.icone{
    color: white;
    display: none;
}
header>nav>ul>.desk_li{
    display: block;
}
@media screen and (max-width:50rem){
    header>nav>ul>.icone{
        display: block;
    }
    header>nav>ul>.icone>a{
        font-size: 1.7rem;
        color: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%,-50%);
    }
    header>nav>ul>.desk_li{
        display: none;
    }
    .inside_pc{
        align-items: center;
        width: 95%;
        margin: 3rem auto 3rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    header>nav>.menu_toggle{
        display: block;
        z-index: 3;
        position: fixed;
        width: 100%;
        background-color:#1D1D1F;
        transition: all .3s;
        visibility: hidden;
        opacity: 0;
        height: 5vh;
        top: 4.4rem;
    }
    header>nav>.menu_toggled{
        visibility: visible;
        opacity: 1;
        display: block;
        z-index: 1;
        position: fixed;
        width: 100%;
        background-color:#1D1D1F;
        transition: all .3s;
        height: 100vh;
        top: 4.4rem;
    }
    header>nav>.menu_toggle>ul>li{
        font-size: 1.6rem;
        padding: .5rem;
        border-bottom: .05rem solid rgba(255, 255, 255, 0.561);
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    header>nav>.menu_toggle>ul>li>a{
        color: white;
    }
    header>nav>.menu_toggle>ul{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
main>section>h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: -.005rem;
    font-size: 3.6rem;
    margin-top: 15rem;
    font-family: Apple;
}
main>section>h2{
    text-align: center;
    font-weight: 600;
    letter-spacing: -.005rem;
    font-size: 2.6rem;
    font-family: Apple;
    padding-bottom: 1rem;
}
}

.demo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: -2.7rem;
    margin-left: 2rem;
}
.demo .menu-icon {
    transform: scale(1.5);
}
:root {
    --bar-bg: #ffffff;
}
.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}
.menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
}
.menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, rgb(255, 255, 255));
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
    top: 0;
}
.menu-icon span:last-of-type {
    bottom: 0;
}
.menu-icon.active span:first-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}
.menu-icon.active span:last-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}
.menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 22px;
}
@media (min-width: 1024px) {
    .menu-icon:hover span:first-of-type {
        width: 26px;
   }
    .menu-icon:hover span:last-of-type {
        width: 12px;
   }
}
